body {
    display: flex;
    flex-direction: column;
    margin:0;
}

.top-cont,
.second-cont,
.third-cont {
    padding: 0 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.top-cont {
    background-color: #1f2937;
    justify-content: space-evenly;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.links-top {
    display: flex;
    gap: 65px;
}

.links-top a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 16px;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;

}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 16px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 16px;
}

.hero-image {
    height: 275px;
    width: 600px;
}

.sign-up button {
    width: 130px;
    margin: 16px
}

.sign-up button:hover {
    background-color: #E5E7EB;
    cursor: pointer;
}

.second-cont {
    align-items: center;
}

.second-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: auto;
}

.services {
    display: flex;
    gap: 150px;
    margin: auto;
}
.services img {
    height: 200px;
    width: 200px;
    border: 3px solid #3882f6;
    border-radius: 20%;
}

.services a {
    text-decoration: none;
    color: black;
}

.services p {
    font-size: 18px;
    text-align: center;
}

.third-cont {
    background-color: #E5E7EB;
    align-items: center;
}

.quote-cont {
    width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.quote,
.michael-scott {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin: 16px;
    color: #454545;
}

.michael-scott {
    align-self: center;
}

.jordan {
    align-self: flex-end;
    font-weight: 600;
    font-size: 42px;
    margin: 16px;
}

